.main {
  background-color: var(--clr-white);
  width: 375px;
  place-self: center;
}

main {
  position: relative;
  width: 100%;
  min-height: calc(480px);
}

@media only screen and (min-width: 768px) {
  .main {
    width: 70vw;
    padding: 0 5%;
  }
}
